<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "vehicle_movement/stylesheet.css"%}"/>
    <script src="https://use.fontawesome.com/0bca3fcdf6.js"></script>

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark" id="mainnavbar">
      <a class="navbar-brand" id= "brand" href="">Vehicle Dashboard</a>
      <ul class = "navbar-nav" id = "navbartext">
        <li class ="nav-item-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="">Inward</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="">Loading</a>
                <a class="dropdown-item" href="">unloading</a>
              </div>

        </li>
        <li class="nav-item">
            <a class="nav-link"  id = "navbardrop" href="{% url 'vehicle_movement:checkinview'%}">Inward</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  id = "navbardrop" href="{% url 'vehicle_movement:listView'%}">Dashboard</a>
            </li>

      </ul>

    </nav>
    <h1>This Works</h1>
  </body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block body_block %}
{% endblock %}
</html>
